(
    width: 40,
    height: 56,
    layers: [
        (name: "body", visible: true),
        (name: "side art", visible: true),
        (name: "front", visible: true),
        (name: "controls", visible: true),
        (name: "screen", visible: true),
        (name: "marquee", visible: true),
        (name: "trim", visible: true),
    ],
)
