(
    floor: [
        (
            x: -6,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: -5,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: -4,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: -3,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: -2,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: -1,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 4,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 3,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 2,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 1,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 0,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 5,
            y: -3,
            tile: "floor/checker",
        ),
        (
            x: 5,
            y: -4,
            tile: "floor/checker",
        ),
        (
            x: 5,
            y: -5,
            tile: "floor/checker",
        ),
        (
            x: 5,
            y: -6,
            tile: "floor/checker",
        ),
        (
            x: -3,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -4,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -3,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -7,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -6,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -13,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: 0,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 2,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 3,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 4,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 6,
            tile: "floor/wood",
        ),
        (
            x: -9,
            y: 5,
            tile: "floor/wood",
        ),
        (
            x: -8,
            y: 1,
            tile: "floor/wood",
        ),
        (
            x: -11,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -1,
            tile: "floor/wood",
        ),
        (
            x: -10,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -12,
            y: -2,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: -2,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: -2,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: -3,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: -3,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: -2,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: -1,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: -1,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: -1,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: 0,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: 0,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: 0,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: -3,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: -4,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: -5,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: -5,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -5,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -6,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: -8,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: -9,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -3,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -2,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: -1,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 0,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 2,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 1,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 3,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: -10,
            tile: "floor/wood",
        ),
        (
            x: 4,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: 5,
            y: -7,
            tile: "floor/wood",
        ),
        (
            x: -4,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: -4,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: -4,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: -2,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: -1,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: 0,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: 1,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: 1,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: 1,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: 1,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: 2,
            y: -6,
            tile: "floor/carpet",
        ),
        (
            x: 2,
            y: -7,
            tile: "floor/carpet",
        ),
        (
            x: 2,
            y: -8,
            tile: "floor/carpet",
        ),
        (
            x: 2,
            y: -9,
            tile: "floor/carpet",
        ),
        (
            x: -11,
            y: -2,
            tile: "floor/carpet",
        ),
    ],
    objects: [
        (
            x: 4,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: 3,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: 2,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: 4,
            y: -5,
            tile: "objects/counter",
        ),
        (
            x: 4,
            y: -6,
            tile: "objects/counter",
        ),
        (
            x: 1,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: 0,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -1,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -2,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -3,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -4,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -5,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -4,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -5,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -6,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -7,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -8,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -9,
            tile: "objects/counter",
        ),
        (
            x: -6,
            y: -10,
            tile: "objects/counter",
        ),
        (
            x: 5,
            y: -6,
            tile: "objects/counter",
        ),
        (
            x: -9,
            y: 0,
            tile: "objects/cabinet",
            game: Some("mk2"),
        ),
        (
            x: -7,
            y: 5,
            tile: "objects/cabinet",
            game: Some("mslug"),
        ),
        (
            x: -4,
            y: 2,
            tile: "objects/cabinet",
            game: Some("snowbrosb"),
        ),
        (
            x: -10,
            y: -6,
            tile: "objects/cabinet",
            game: Some("ssriders"),
        ),
        (
            x: -12,
            y: -3,
            tile: "objects/cabinet",
            game: Some("sf2ce"),
        ),
        (
            x: -9,
            y: -9,
            tile: "objects/cabinet",
            game: Some("pacman"),
        ),
        (
            x: 1,
            y: 4,
            tile: "objects/cabinet",
            game: Some("atetris"),
        ),
        (
            x: 0,
            y: 0,
            tile: "objects/cabinet",
            game: Some("wboy"),
        ),
        (
            x: -32,
            y: 16,
            tile: "objects/cabinet",
            game: Some("wboy"),
        ),
        (
            x: -5,
            y: -1,
            tile: "objects/pool_table",
        ),
        (
            x: 3,
            y: -1,
            tile: "objects/air_hockey",
        ),
        (
            x: -5,
            y: 4,
            tile: "objects/shuffleboard",
        ),
    ],
)